<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Todo List Homepage</title>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jquery-->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <style>
        .navbar-nav>li {
            padding-left: 90px;
            padding-right: 90px;
        }

        .par {
            margin-inline-start: 200px;
            margin-top: 10px;
        }
    </style>
</head>

<body>

<div class="container-lg text-center" style="margin-bottom:0; padding-top: 35px;">
    <h1 style="color:rgb(2, 52, 102)">Welcome TODO Web Application</h1>
</div>
<br><br>

<nav class="navbar navbar-expand-sm   justify-content-center" style=" background-color: #bad8ee; ">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/login">Login</a>

        </li>

    </ul>

</nav>
<br>
<div class="row">
    <div class="col-18 d-flex justify-content-center">
        <h3>What is the Todo List</h3> <br>

    </div>
    <div class="col-10 d-flex justify-content-center">
        <p class="par">What is a ToDo List? The definition is a simple one. It’s a list of tasks you need to complete or
            things that you want to do.

            Most typically, they’re organised in order of priority. Traditionally, they’re written on a piece of paper or
            post it notes and act as a memory aid. As technology has evolved we have been able to create a todo lists with
            excel spreadsheets, word documents, email lists, todo list apps, Microsoft to do and google to do list to name a
            few. You can use a to do list in your home and personal life, or in the workplace.

            Having a list of everything you need
            to do written down in one place means you shouldn’t forget anything important. By prioritising the tasks in the
            list you plan the order
            in which you’re going to do them and can quickly see what needs your immediate attention and what tasks you can
            leave until a little later.</p>
    </div>
    <div class="col-20 d-flex justify-content-center">
        <img width="750" height="500" class="img-responsive " src="https://cdn.pixabay.com/photo/2020/05/30/09/53/todo-lists-5238324_960_720.jpg"
             alt="">
    </div>
</div>
</body>

</html>